<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Twitter Lite</title>
</head>
<body>
  <header>
    <h3>Twitter Lite</h3>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </nav>
  </header>
  <div class="allfields">
    <p>Get recent tweets of any profile</p>
    <div>
      <input type="text" id="gettweetinput">
      <button id="gettweet">Get Tweets</button>
    </div>
  </div>
  
  <div class="allfields">
    <p>Post a tweet to your profile</p>
    <div>
      <input type="text" id='posttweetinput'>
      <button id='posttweet'>post Tweet</button>
    </div>
  </div>

  <div class="allfields">
    <p>Like a tweet by tweet id</p>
    <div>
      <input type="text" id='tweetidinput'>
      <button id='tweetid'>like Tweet</button>
    </div>
  </div>

  <div class="allfields">
    <p>get the most recently liked tweets</p>
    <div>
      <button id='recentliked'>get liked tweets</button>
    </div>
  </div>

  <div class="allfields">
    <p>Get tweets by id</p>
    <div>
      <input type="text" id='gettweetidinput'>
      <button id='gettweetid'>Get Tweet</button>
    </div>
  </div>
  <script src="file.js"></script>
</body>
</html>